<div class="alert alert-danger" style="margin-top: 1%;" role="alert" id="low-inventory-alert">
   <p style="text-align: center;">{{message}}</p> 
</div>
<br/>
<h2>Inventory</h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Kernels</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of inventoryArray">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.kernels}}</td>
        </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>
<h2>Package Requests</h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Inventory Id</th>
        <th>Requested Kernels</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of requestsList">
            <td>{{item.id}}</td>
            <td>{{item.inventoryId}}</td>
            <td>{{item.requestedKernels}}</td>
        </tr>
    </tbody>
</table>